.detalhesContainer {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detalhesContainer hr {
    width: 90%;
}

.detalhesCursoContainer {
    width: 80%;
    padding: 20px;
    display: flex; 
    flex-direction: column;
    text-align: start;
    /* background-color: red; */
}

.imagem {
    display: flex;
    flex-direction: row;
}


.iconeCursoDetalhes {
    width: 80px;
    height: 80px;
}

.tituloSubtitulo {
    margin-left: 20px;
}

.detalhesContainer h1 {
    color: rgba(0,0,0,0.3);
    font-size: 2rem;
}

.subtitulo {
    color: rgba(0,0,0,0.3);
    font-size: 1.25rem;
}

.conteudo {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 30px 30px;
    /* background-color: red; */
}

.tituloSubtituloRealizacao {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    
}

.containerIcon {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 50px;
    height: 50px;
}

.icon {
    width: 30px;
    height: 30px;
    
}

.listaConteudo {
    list-style: none;
    margin: 20px 20px;
}